---
import Layout from '../layouts/BlogPost.astro';
---
<style>
  main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      article {
        display: flex;
      }
      .hero-image {
        width: 40%;
      }
      .hero-image img {
        display: block;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
</style>
<Layout
  title="About Us"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('August 08 2021')}
  heroImage="/about-banner.png"
>
<p> We are a student society at Dalhousie University where are mission is to provide an opportunity to all local chess enthusiasts to play chess</p>
</Layout>

