---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Us"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('August 08 2021')}
  heroImage="/about-banner.png"
>
<p> We are a student society at Dalhousie University where are mission is to provide an opportunity to all local chess enthusiasts to play chess</p>
</Layout>
