---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import EventList from '../components/frontpage/EventList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

<style>
  .wrapper {
    display: flex;
    text-align: center;
  }
  .left-sidebar {
    width: 33%;
  }
  .main-content {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    text-align: center;
  }
  .right-sidebar {
    width: 20%;
    text-align: center;
    background-color: grey;
  }
  .socials {
    display: flex;
    flex-direction: column;
  }
  main {
    width: 960px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .flex-item {
    width: calc(32% - 1rem);
    text-decoration: none;
    transition: 0.2s ease;
    text-align: center;
    flex-grow: 1;
  }
  .flex-item img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
    max-width: 50%;
  }
  .flex-item a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  .flex-item:hover .title,
  .flex-item:hover .date {
    color: #FAC800;
  }
  .flex-item:hover img {
    box-shadow: var(--box-shadow);
  }
  h2 {
    text-align: center;
  }
  @media (max-width: 720px) {
    .flex-container {
      flex-direction: column;
      gap: 0.5em;
      width: 100%;
    }
    .flex-item {
      width: 100%;
      text-align: center;
    }
    .flex-item img {
      margin-bottom: 0.5rem;
      border-radius: 12px;
      width: 100%;
    }
  }
</style>
<Header />

<div class="wrapper">
  <div class="main-content">
    <h1>♜ Dalhousie Chess Club ♜</h1>
    <p>We're here to run exciting tournaments, host socials, and organize seminars!</p>
    <EventList/>
   <Footer />
