---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SocialMediaIcon from '../components/SocialMediaIcon.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      @media (min-width: 480px) {
        .wrapper {
          display: flex;
        }
        .left-sidebar {
          width: 20%;
        }
        .main-content {
          width: 60%;
          margin: 0 auto;
        }
        .right-sidebar {
          width: 20%;
        }
        .socials {
          display: flex;
          flex-direction: column;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <div class="wrapper"></div>
    <div class="main-content">
      <h1>♜ Dalhousie Chess Club ♜</h1>

      <p>
        we're here to run exciting tournaments, host socials, and organize seminars!
      </p>
    </div>
    <div class="left-sidebar">
      <div class="socials">
        <SocialMediaIcon
          title="Follow us on Facebook"
          icon="facebook"
          link="https://facebook.com/dalchess"
        />
        <SocialMediaIcon
          title="Follow us on Instagram"
          icon="instagram"
          link="https://instagram.com/dalchess"
        />
        <SocialMediaIcon
          title="Join our Discord"
          icon="discord"
          link="https://discord.gg/rjVPspkGwE"
        />
      </div>
      <div class="right-sidebar">asa</div>
    </div>
  </body>
</html>
