---
import SocialMediaIcon from './SocialMediaIcon.astro';
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Dal Chess. All rights reserved.
  <div class="social-links">
    <SocialMediaIcon
      title="Follow us on Facebook"
      icon="facebook"
      link="https://facebook.com/dalchess"
    />

    <SocialMediaIcon
      title="Follow us on Instagram"
      icon="instagram"
      link="https://instagram.com/dalchess"
    />

    <SocialMediaIcon
      title="Join our Discord"
      icon="discord"
      link="https://discord.gg/rjVPspkGwE"
    />
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
