---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SocialMediaIcon from './SocialMediaIcon.astro';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/events">Events</HeaderLink>
      <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
      <HeaderLink href="/join">Join Us</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <SocialMediaIcon
        title="Follow us on Facebook"
        icon="facebook"
        link="https://facebook.com/dalchess"
      />

      <SocialMediaIcon
        title="Follow us on Instagram"
        icon="instagram"
        link="https://instagram.com/dalchess"
      />

      <SocialMediaIcon
        title="Join our Discord"
        icon="discord"
        link="https://discord.gg/rjVPspkGwE"
      />
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background:linear-gradient(90deg, #000000 0%, #FAC800 100%);;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    color: white;
  }
  h2 {
    margin: 0;
    font-size: 1em;
    color: white;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: black;
    color: black;
  }

  .social-links,
  .social-links a {
    display: flex;
    
  }
   .social-links {
      display: none;
    }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
